@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

:root {
    --black: black;
    --grey: #333;
    --white: white;
    --font1: 'Tilt Prism', sans-serif;
    --font2: 'Chivo Mono', monospace;
}

nav {
  background-color: var(--black);
  font-family: var(--font2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}


h1 {
    font-family: var(--font1);
    font-size: 3rem;
    color: var(--black);
    text-align: center;
    margin: 50px;
    padding: 1rem;
}

.container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150vh;
    width: 100vw;
    gap:20px;
}

h3 {
  font-family: var(--font2)
}



